<h1>Add a Dog to <%=@user.name%>'s Family</h1>

<%= form_with url: pets_create_path, method: :get, local: true do |form| %>
  <%= form.label :name, "Pet's Name:" %>
  <%= form.text_field :name, id: "Pet's Name" %><br>

  <%= form.label :bio, "Pet's Biography:" %>
  <%= form.text_field :bio, id: "Pet's Biography" %><br>

  <%= form.label :weight, "Pet's Weight(lbs):" %>
  <%= form.number_field :weight, id: "Pet's Weight" %><br>

  <%= form.label :age, "Pet's Age:" %>
  <%= form.number_field :age, id: "Pet's Age" %><br>

  <%= form.label :sex, "Pet's Sex:" %>
  <%= form.select :sex, options_for_select(["Male", "Female", "Other"]) %><br>

  <%= form.label :breed, "Pet's Breed:" %>
  <%= form.select :breed, options_for_select(@breeds) %><br>

  <%= form.hidden_field :user_id, value: @user.id %>

  <%= form.submit "Create Pet" %>
<% end %>
