<div id="Register">
    <div class="container">
      <%= form_with url: users_update_path, method: :get, local: true do |form| %>
        <div class="row">
          <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
            <div class="card border-0 shadow rounded-3 my-5">
              <div class="card-body p-4 p-sm-5">
                <h5 class="card-title text-center mb-5 fw-light fs-5">Update User Info:</h5>
                <div class="form-floating mb-3">
                  <%= form.text_field :bio, id: "Biography:", value: @user.bio, class: "form-control" %>
                  <%= form.label :bio, "Biography:" %>
                </div>
                <div class="form-floating mb-3">
                  <%= form.text_field :location, id: "Location:", value: @user.location, class: "form-control" %>
                  <%= form.label :location, "Location:" %>
                </div>
                <div class="d-grid">
                  <%= form.submit "Update User", class: "btn btn-primary btn-login text-uppercase fw-bold"%>
                </div>
                <hr class="my-4">
              </div>
            </div>
          </div>
        </div>
      <% end %>
    </div>
</div>
