<h2>Login:</h2>
<%= form_with url: login_path, method: :post, local: true do |form| %>

<p><%= form.label :email, "Enter your Email:" %>
<%= form.text_field :email, id: "Enter your Email" %></p>

<p><%= form.label :password, "Enter Password:" %>
<%= form.password_field :password, id: "Enter Password" %></p>


<%= form.submit "Login" %>

<% end %>
