<h2>Register:</h2>

<%= form_with url: register_path, local: true do |form| %>
  <%= form.label :name, "Enter your name:" %>
  <%= form.text_field :name, id: "Enter your name" %><br>

  <%= form.label :email, "Enter your Email:" %>
  <%= form.text_field :email, id: "Enter your Email" %><br>

  <%= form.label :password, "Enter your password:" %>
  <%= form.text_field :password, id: "Enter your password" %><br>

  <%= form.label :password_confirmation, "Confirm your password:" %>
  <%= form.text_field :password_confirmation, id: "Confirm your password" %><br>

  <%= form.label :Location, "Enter your Location:" %>
  <%= form.text_field :Location, id: "Enter your Location" %><br>

  <%= form.submit "Create User" %>
<% end %>
