<center>
<h1><%= @user.name %>'s Dashboard</h1>

<%= button_to "Add Dog to Profile", users_pets_new_path, method: :get %>
<%= button_to "Update User Info", users_update_path, method: :get %>

<h4>Registered Pets:</h4>
<% @user.pets.each do |pet|%>
<p><b>Name: <%=pet.name%> </b></p>
<%@picture = DogPictureFacade.create_breed_image(pet.breed)%>
<%= image_tag(@picture)%>

<% end %>
<center>
