<!DOCTYPE html>
<body style="background-image: url('https://i.imgur.com/2tOTrmY.png');">

<html>
  <head>
    <title>BoneFront</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>

  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
      <div class="collapse navbar-collapse" id="navbarCollapse">
        <div class="navbar-nav ml-auto">
          <img src="https://i.imgur.com/nLKWMX8.png" alt="logo" width="82.5" height="70.1">
                <% if current_user  %>
                  <%# @user_location = GeoFacade.create_location %>
                  &#128205 <%# "#{@user_location.city}, #{@user_location.state}" %>
              <% end %>
          <a class="navbar-brand"><%= link_to "Home", root_path, method: :get, class: "nav-item nav-link" %></a>
              <% if current_user %>
              <%= link_to "Dashboard", users_dashboard_path, method: :get, class: "nav-item nav-link" %>
              <% end %>
        </div>
        <div class="navbar-nav ms-auto">
          <a class="navbar-brand">
            <% if current_user %>
              <%= link_to "Logout", logout_path, method: :delete, class: "nav-item nav-link" %>
            <% else %>
              <%= link_to "Login", '/auth/google_oauth2', method: :post, class: "nav-item nav-link" %>
            <% end %>
          </a>
        </div>
      </div>
    </div>
  </nav>

  <div class="container">
    <%= yield %>
  </div>

  <style>
    h1 {
      padding-top:50px;
    }
  </style>

  </body>
</html>
